.delete {
  background-color: red;
  margin: 10px;
}

.checkbox {
  margin-left: 10px;
}

.item{
  color: green;
  border: solid 1px #111111;
  margin: 10px;
}

.isChecked {
  text-decoration: line-through;
}
